@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }
}

body {
    overflow-x: hidden;
    background-color: theme("colors.secondary-700");
}

button,
a {
    transition: all 0.3s;
}

* {
    box-sizing: border-box;
}
